body {
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frequencyData {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#container-combined {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100vh;
  font-size: large;
}

#container-combined p {
  position: absolute;
  display: none;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

#container-laugh {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100vh;
  font-size: large;
}

#container-laugh p {
  position: absolute;
  display: none;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

#container-school {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100vh;
  font-size: large;
}

#container-school p {
  position: absolute;
  display: none;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

#container-selflove {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100vh;
  font-size: large;
}

#container-selflove p {
  position: absolute;
  display: none;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

canvas {
  position: absolute;
}

#video-canvas {
  position: absolute;
  border-radius: 40px;
}

#welcometekst {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #ffffff;
  font-family: 'titan one';
  text-align: center;
  z-index: 1;
}

#subtekst-welcome {
  position: absolute;
  bottom: 330px; /* Afstand tot de onderkant van de pagina */
  left: 50%;
  transform: translateX(-50%); /* Horizontaal centreren */
  font-size: 30px;
  color: #ffffff;
  font-family: 'titan one';
  text-align: center;
  z-index: 1;
}

#tekst2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #ffffff;
  font-family: 'titan one';
  text-align: center;
  z-index: 1;
}

#endquote {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffffff;
  font-family: 'titan one';
  text-align: center;
}

#foto-galerij {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#foto-galerij p {
  font-size: 55px;
  color: #ffffff;
  font-family: 'titan one';
  margin-bottom: 20px; /* Ruimte onder de tekst */
}

#foto-galerij .image-container {
  display: flex;
  justify-content: center;
}

#foto-galerij img {
  margin: 0 4px; /* Voeg een tussenruimte toe van 4px tussen de afbeeldingen */
  border-radius: 10px;
}

.confetti-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; /* Zorg ervoor dat de confetti-container een hogere z-index heeft dan de andere elementen */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: confetti-fall 7s linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotateZ(0deg);
  }
  100% {
    transform: translateY(100vh) rotateZ(720deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Voor schermen kleiner dan 600px breed */
@media only screen and (max-width: 600px) {
  /* Voeg hier je specifieke stijlen toe voor kleine schermen */
}

/* Voor schermen groter dan 600px breed */
@media only screen and (min-width: 601px) {
  /* Voeg hier je specifieke stijlen toe voor grotere schermen */
}
