body {
  background: linear-gradient(to bottom right, #ffd700, #ff69b4, #00bfff);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frequencyData {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#container-combined {
  position: relative;
  font-size: 40px;
  width: 100%;
  height: 100vh;
  font-size: large;
}

#container-combined p {
  position: absolute;
  display: none;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out forwards;
}

canvas {
  position: absolute;
}

#welcometekst {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #ffffff;
  font-family: 'Baloo Bhai';
  text-align: center;
  z-index: 1;
}

#subtekst-welcome {
  position: absolute;
  bottom: 20px; /* Afstand tot de onderkant van de pagina */
  left: 50%;
  transform: translateX(-50%); /* Horizontaal centreren */
  font-size: 50px;
  color: #ffffff;
  font-family: 'Lato';
  text-align: center;
  z-index: 1;
}

#tekst2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #ffffff;
  font-family: 'Baloo Bhai';
  text-align: center;
  z-index: 1;
}

#endquote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffffff;
  font-family: 'Bangers';
  text-align: center;
}

#foto-galerij {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: row;
}

#foto-galerij p {
  position: absolute;
  bottom: 70%;
  margin: 0 20px;
  font-size: 55px;
  color: #ffffff;
  font-family: 'Baloo Bhai 2';
}

.confetti-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; /* Zorg ervoor dat de confetti-container een hogere z-index heeft dan de andere elementen */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: confetti-fall 7s linear infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotateZ(0deg);
  }
  100% {
    transform: translateY(100vh) rotateZ(720deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Voor schermen kleiner dan 600px breed */
@media only screen and (max-width: 600px) {
  /* Voeg hier je specifieke stijlen toe voor kleine schermen */
}

/* Voor schermen groter dan 600px breed */
@media only screen and (min-width: 601px) {
  /* Voeg hier je specifieke stijlen toe voor grotere schermen */
}
